$primary: #3170ea;
$primary-2: #ecf3ff;

$secondary: #eaa338;
$secondary-2: #f4d09b;

$secondary2: #f4fbfd;
$secondary2-2: #f3f6f6;
$secondary2-3: #e6eaee;

$secondary3: #e6e9f5;
$secondary3-2: #f3f5ff;

$success: #2ca637;
$danger: #ff5e5e;

$black: #201e1e;
$gray-950:#4F4F4F;
$gray-900: #585858;
$gray-800: #818181;
$gray-700:#74747455;
$gray-600: #a3a0a0;
$gray-500: #a6a6a6;
$gray-300: #c1c1c0;
$gray-250 :#C5C7CB;
$gray-200: #cbcac8;
$gray-150:#E9E9E9;
$gray-125:#E5E5E5;
$gray-100: #f0f0f0;
$gray-icon:#858FAD;
$white: #ffffff;

$stroke: #cfcdcd;
$stroke2: #2773ff;
$stroke3: #bcbcbc;
$stroke4: #b8b8b8;
$stroke5: #000000;
$stroke6: #d7d4cb;
$srtoke7: #224957;