$secondary: #858fad;
$primary: #3fa9f5;
$title: #4a7fbe;

$border-color: #2773ff;
$border: #d6cfcf;
$background: #eff6ff;
$background-gray: #e5e5e5;
$background-blue: #e8f5ff;
$background-lightgray: #f4f4f4;
$background-accent: #9fc1ff;

$text-dark-blue: #0f2744;
$text-secondary-dark: #676767;
$text-secondary: #ffffff;
$text-primary: #ffffff;
$text-black: black;
$text-white: white;
$text-warning: #e08c0f;
$text-disabled: #4d4d4d;
$text-success: #16843b;
$text-danger: #ff0d0d;

$lightgray: #f4f5f8;
$darkgray: #4f4f4f;
$warning: #fff3c8;
$white: white;
$success: #5aff9280;
$black: black;
$blue: #276a9c;
$danger: #f05454;
$disabled: #cfcdcd;
$secondary-border: #cfcdcd;

$icn-success: #15bdb2;
$icn-danger: #ff5b62;

$accent-900: #54d2d2;
$light-blue: #d5e1eb;

$gray-icon:#858FAD;
